<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<br>
<table class="table table-hover">
  <br>
  <tbody>
      <thead><h1 class="text-center center-block"> THE LANGUAGES PAGE <h1> </thead>
      <br>
    <% @count=0 %>
      <br>
    <% @languages.each do |language| %>
    <tr>

      <td></td>
      <td></td>


      <td><img class="thumbnail mx-auto d-block" src="https://cdn1.iconfinder.com/data/icons/pinterest-ui-glyph/48/Sed-18-128.png" alt=""></td>

      <td></td>

      <td class="text-center align-middle"><h4><img class="thumbnail mx-auto d-block" src="https://cdn1.iconfinder.com/data/icons/pinterest-ui-glyph/48/Sed-18-128.png" alt="">
        <%= language.number_of_users  %></h4></td>

      <td></td>
      <td></td>
      <td></td>
      
      <td class="text-left align-middle text-white">
            <button class="btn btn-primary" role="button">
              <h4>
                <div >
                  <%= link_to language.name.upcase, language_path(language) %> FUN FACTS
                </div>
              </h4>
            </button>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
