<div id="custom_banner">
  <div class="custom_banner_inner">
    <h1>Learning to code?</h1>
    <span>Don't do it alone!</span><br><br>
    <%= link_to "Sign Up", register_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<%# <img src="https://picsum.photos/2000/600/?random" class="img-fluid" alt="Responsive image"> %>